@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #11998E;
    --text: #060709;
    --background:#E0EDEA;
    --shade:#B9F2E5;
    --gray:#7B7B7B;
    --white:#FFFFFF;
  }

*{
  box-sizing: border-box;
}
.active .icon{
  color:var(--white)
}